<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<app-navbar></app-navbar>

<body>
<div class="container">
  <div class="deck" *ngFor="let property of this.properties">
    <div class="card hovercard">
      <div class="front face"  [style.backgroundImage]="'url('+ property.img+')'">
        <h2 class="face-address">{{property.address}}</h2>
        <div class="bottext">
          <h3>{{property.price}} Ft</h3>
        </div>
      </div>
      <div class="back face">
        <h2>Details</h2>
        <ul class="details">
          <li>{{property.roomNumber}} rooms</li>
          <li>{{property.age}} years old</li>
          <li><button (click)="getOwner(property.owner)">Owner Details</button></li>
        </ul>
        <div class="botprice">
          <h3>{{property.price}} Ft</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
